h2 {
  font-family: 'Anton', sans-serif;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.combine-logo {
  display: flex;
}

.flex-container {
  margin-left: 15%;
  margin-right: 15%;
  display: block;
}

.print {
  display: flex;
  justify-content: flex-end;
}

.header {
  font-family: 'Yellowtail', cursive;
  font-style: italic;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.pizza {}

  ul {
    display: inline-block;
    margin-right: auto;
  }

  p {
    font-family: sans-serif;
    font-size: 12px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    ;
  }

  .list {
    font-family: 'Patrick Hand', cursive;
  }

  .footer {
    text-align: center;
  }
